<footer>
  <p>Look me up and say Hi!</p>
  <ul class="socialLinks">
    <li><a href="https://twitter.com/line47" rel="tooltip" data-original-title="Twitter">Twitter</a>
    </li>
    <li><a href="https://www.facebook.com/line47" rel="tooltip" data-original-title="Facebook">Facebook</a>
    </li>
    <li><a href="http://www.linkedin.com/profile/view?id=125853971&amp;trk=tab_pro" rel="tooltip" data-original-title="Linkedin">LinkedIn</a>
    </li>
    <li><a href="http://dribbble.com/line47" rel="tooltip" data-original-title="Dribbble">Dribbble</a>
    </li>
    <li><a href="http://instagram.com/line47" rel="tooltip" data-original-title="Instagram">Instagram</a>
    </li>
    <li><a href="https://soundcloud.com/line47" rel="tooltip" data-original-title="Soundcloud">Soundcloud</a>
    </li>
  </ul>
  <p class="copyright">&copy; 2016 Louisville, Kentucky</p>
</footer>
