<footer>
  <p>Look me up and say Hi!</p>
  <ul class="social-links">
    <li><a href="https://twitter.com/line47">Twitter</a></li>
    <li><a href="https://www.facebook.com/line47">Facebook</a></li>
    <li><a href="http://www.linkedin.com/profile/view?id=125853971&amp;trk=tab_pro">LinkedIn</a></li>
    <li><a href="https://github.com/line47">GitHub</a></li>
    <li><a href="http://dribbble.com/line47">Dribbble</a></li>
    <li><a href="http://instagram.com/line47">Instagram</a></li>
    <li><a href="https://soundcloud.com/line47">Soundcloud</a></li>
  </ul>
  <p class="copyright">&copy; 2016 Louisville, Kentucky</p>
</footer>
