<head>
  <meta charset="UTF-8">
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>{{ page.title }} // Scott Weber</title>
  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/styles.css">
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Person",
        "email": "mailto:line47@gmail.com",
        "jobTitle": "Front end specialist",
        "name": "Scott Weber",
        "url": "https://www.line47.com",
        "alumniOf": {
            "@type": "CollegeOrUniversity",
            "name": "University of Kentucky",
            "sameAs": "https://en.wikipedia.org/wiki/University_of_Kentucky",
            "url": "https://www.uky.edu/"
        },
        "worksFor": {
            "@type": "GovernmentOrganization",
            "name": "18F",
            "sameAs": "https://en.wikipedia.org/wiki/18F",
            "url": "https://18f.gsa.gov/",
            "parentOrganization": {
                "@type": "GovernmentOrganization",
                "name": "General Services Administration",
                "sameAs": "https://en.wikipedia.org/wiki/General_Services_Administration",
                "url": "https://www.gsa.gov"
            }
        }
    }
</script>
<script src="https://kit.fontawesome.com/fb0b26fc42.js" crossorigin="anonymous"></script>
</head>
