<div class="hero">
    <div class="content-container">
        <div class="right-grid">
            <h1>Line 47</h1>
            <p class="section-title">Creating
                drill 'n' bass, breakcore, experimental, noise, ambient, and IDM since the 1990's. Owner of independent record label <a href="https://terminal-dusk.com">Terminal Dusk</a>.</p>
        </div>
        <div class="left-grid">
            <img class="img-ani" src="/assets/images/L47-2024-small.png" />
        </div>
    </div>
</div>