<h2>Education</h2>
<p>
    1997-2001, University of Kentucky
</p>
<p>
    Bachelor of Science in Telecommunications &amp; Minor in Sociology
</p>

<h2>Achievements</h2>
<p>
    Best of the Web and Digital Government Achievement Awards
</p>

<li>2015 - Finalist for Kentucky.gov</li>
<li>2010 - 5th Place for Kentucky.gov</li>
<li>2007 - 5th Place for Kentucky.gov</li>
<li>2004 - Finalist for Kentucky.gov</li>

<p>
    1st state portal to implement a responsive mobile-friendly portal utilizing SharePoint.
</p>

<h2>Languages</h2>
<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>LESS</li>
    <li>SASS</li>
    <li>ASPX</li>
    <li>.Net</li>
    <li>PHP</li>
    <li>Javascript</li>
    <li>jQuery</li>
    <li>React</li>
</ul>

<h2>Systems &amp; Devices</h2>
<ul>
    <li>SharePoint</li>
    <li>Wordpress</li>
    <li>iOS</li>
    <li>Windows Mobile</li>
    <li>MOSS 2007</li>
    <li>MCMS</li>
</ul>
