## Education

1997-2001, University of Kentucky
Bachelor of Science in Telecommunications & Minor in Sociology

## Achievements
Best of the Web and Digital Government Achievement Awards

- 2015 - Finalist for Kentucky.gov
- 2010 - 5th Place for Kentucky.gov
- 2007 - 5th Place for Kentucky.gov
- 2004 - Finalist for Kentucky.gov

1st state portal to implement a responsive mobile-friendly portal utilizing SharePoint.

## Languages
- HTML
- CSS
- LESS
- SASS
- ASPX
- .Net
- PHP
- Javascript
- jQuery
- React.js

## Systems & Devices
- SharePoint
- Wordpress
- iPhone/iPad
- Windows Mobile
- MOSS 2007
- MCMS
