<div class="hero">
    <div class="content-container">
        <div class="right-grid">
            <h1>Scott Weber</h1>
            <p class="section-title">
                I'm a generalist who's spent 20+ years improving online experiences for government and the people they
        serve. I enjoy making sense of complexity and ambiguity, design systems, and
        accessibility.
            </p>
        </div>
        <div class="left-grid">
            <img class="img-ani" src="/assets/images/scott-2026.jpg" />
        </div>
    </div>
</div>



  
  
  