<div class="hero">
    <div class="content-container">
        <div class="right-grid">
            <h1>Scott Weber</h1>
            <p class="section-title">
                I'm a self-taught design leader who came up tinkering on the web in the '90s. For 20+ years I've worked
                on government services people rely on at important moments: health care, benefits, retirement, funding.
                I like taking complex, policy-heavy, legacy systems and making them clear and accessible.
            </p>
        </div>
    </div>
</div>