<div class="page-header music-nav small-nav">
    <div class="content-container">
        <nav class="top-nav" role="navigation" aria-label="Main Navigation">
            <ul>
                <li><a href="https://www.subvert.fm/line47">Subvert.fm</a></li>
                <li><a href="https://line47.bandcamp.com/">Bandcamp</a></li>
                <li><a href="https://www.youtube.com/@L47music">YouTube</a></li>
                <!-- <li><a href="/music-bio/">Bio</a></li> -->
            </ul>
        </nav>
    </div>
</div>