@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Oswald:wght@200;400;700&display=swap');

$topnav-bg: #A9C6E5;
$footer-bg: #37323E;
$subheader-bg: #cdecff;
$darker-blue: #0072bb;


$color-lightgrey: #efefef;
$color-trueblack: #000;
$color-white: #fff;

$text-light: #fff;
$text-muted: #737373;
$text-medium: #666;
$text-dark: #333;
$font-main-header: 'Oswald', sans-serif;
$font-sub-header: 'Lato', sans-serif;
$font-content: 'avenir next', sans-serif;

$site-max-width: 1280px;

$grid-0: .25rem;
$grid-1: .5rem;
$grid-2: 1rem;
$grid-3: 1.5rem;
$grid-4: 2rem;
$grid-5: 3rem;
$grid-6: 4rem;

$character-width: 75ch;
$line-height-normal: 1.3rem;

html {
    font-family: $font-content;
    font-size: 1.1rem;
    font-weight: 400;
}
.readability {
    max-width: $character-width;
    p {
        max-width: $character-width;
    }
}
.scott-bg
{
    background-image:url("/assets/images/scott-home.JPG");
    background-size: cover;
    background-position: top right;
    background-color: rgba(200,100,0,.5); 
    background-blend-mode: multiply;
    color: $color-white;
    
}
.timeframe {
    margin-top: 0.5rem;
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
}
.hero {
    & * {
    font-family: $font-main-header;
    font-size: 5.5rem;
    line-height: 7.3rem;
    min-height:25rem;
    padding: 10rem 0 20rem 0;
    margin-bottom:$grid-5;
    margin-top:0;

    }
}
h1 a, h1 a:visited {
  text-decoration: none;
  color:$text-dark;
}
body {
    color: $text-dark;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.home  {
    img  {
        margin-bottom: 1rem;
    }
}
strong {
    font-weight: bold;
}
footer {
    background: $footer-bg;
    clear: both;
    color: $text-light;
    margin-top: $grid-4;
    padding: $grid-4 0 $grid-2;

    a, 
    a:visited {
       
              color: #c8c8c8;
        }
    }
    .copyright {
        font-size: 1rem;
        padding: 2rem 0 0;
        color: #c8c8c8;
    }


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-main-header;
    font-size: 1rem;
    font-weight: normal;
    margin-top: $grid-2;
}

ol,
p,
ul {
    line-height: 2rem;
    margin-top: $grid-3;
    font-size: 1.25rem;

}
h1 {
    font-size: 3rem;
    line-height: 3rem;
}
h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
}
h3 {
    font-size: 2rem;
    line-height: 2rem;
}
h4 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}
h5 {
    font-size: 1.25rem;
    line-height: 1.25rem;
}
ul {
    list-style-type: disc;
    margin-left: $grid-4;
}

a,
a:active {
    color: $darker-blue;
    text-decoration-skip: ink;
}
a:visited {
    color: $darker-blue;
}
.list-unstyled {
    list-style: none;
}
.list-inline {
    margin-left: 0;
    li {
       display: inline-block;
        margin: initial;
        &::after {
            content:','
        }
    }
    li:last-child::after  {
        content: '';
    }
}

.featured-projects {
    border-bottom: 3px solid #00a6d2;
    padding: 1rem 0 0;
    margin-bottom: 1rem;
}

.page-header {
    padding: $grid-2 0;
    background: #37323E;
    border-bottom: 3px solid #333;
    & a {
        color: #333;
    }
}
.page-title {
  font-family:$font-sub-header;
  font-size: 3.5rem;
  font-weight: bold;
  margin-top:$grid-5;
  line-height: 3.75rem;
    @media (max-width: 600px) {
        font-size: 2rem;
    }
}
.page-subheader {
    background: $subheader-bg;
    padding: 2rem;
    .page-subtitle {
        margin: 0 auto;
        max-width: $site-max-width;
    }
}
.lead {
    font-family: $font-sub-header;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 4rem;
}
.home-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    //p:nth-child(1) {border-top:8px solid #5da512}
    //p:nth-child(2) {border-top:8px solid #a54412}
    //p:nth-child(3) {border-top:8px solid #a51291}
    .home-item {
        flex: 0 0 30%;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.7rem;
        padding-top: 1rem;
        img {
            max-width: 100%;
        }
    }
    @media (max-width: 600px) {
        .home-item {
            flex: 0 0 100%;
        }
    }
}
.projects {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    margin: 0;
    padding: 0;
    .project-item {
        background-color: #fff;
      max-width: 30%;
      border: 3px solid $color-lightgrey;
        margin: $grid-4 2% $grid-5 0;
        a {
          text-decoration: none;
          display: block;
          height: 100%;
        }
        a:hover {
          background-color: #f9f9f9;
            .project-name {
                color: #0072bb;
            }
        }
        .project-name {
            display: block;
            font-family: $font-sub-header;
            font-size: 1.1rem;
            font-weight: bold;
            margin-bottom: $grid-2;
            text-decoration: none;
            line-height: inherit;
            margin-left: -.5rem;
            margin-right: -.5rem;
            padding: 0 .5rem .5rem;
            box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.15);
            background: $color-white;
            color: #333;
        }
        .project-description {
          text-decoration: none;
          color: initial;
          font-size: .9rem;
          line-height: 1.4rem;
        }
    }
    @media (max-width: 600px) {
        .project-item {
            flex: 0 0 100%;
        }
    }


    img {
        max-width: 100%;
    }
    .project-responsibilities {
        display: block;
        line-height: 1.3rem;
    }
}
.card-header {
  background-color: $color-white;
}
.card-content {
  padding: 0 .5rem .5rem;
  :last-child {
    margin-bottom: 0;
  }
}
.top-nav {
    ul {
        margin:0;
    }
    li {
        display: inline-block;
        margin: 0 $grid-1;
        padding: 0;

        &:first-of-type {
          margin-left:-$grid-0;
        }
    }
    a {
        display: inline-block;
        margin-left: 0;
        padding: $grid-1 $grid-2;
        text-decoration: none;
        color: #A9C6E5;
        border-radius:4px;
        &:hover {
            background-color: #fff;
            color: #37323E;
            
        }
        &.homelink {
            color: #FFF;
            font-weight: bold;
            padding: $grid-0 $grid-1;
            text-decoration: none;
            margin-right: $grid-1;
            position: relative;
            &:hover {
                background: #FCF6B1;
                color: #37323E;
            }
        }
        
    }
}

.content-container {
    padding: 0 $grid-2;
    margin: 0 auto;
    max-width: $site-max-width;
}
.main-content {
    margin: 0 0 $grid-4 0;
     img {
         max-width: 100%;
         margin-top: $grid-5;
     }
     figure {
        box-shadow: 0px 3px 5px 0px rgba(0,0,0, .25);
        margin-bottom: 1rem;
        border: 1px solid rgba(239, 239, 239, 0.68);
        margin-top: $grid-5;
     }
     figcaption {
         color: #999;
         font-style: italic;
         font-size: .8rem;
         padding: .5rem;
     }
     h3 {
        margin-top: $grid-5;
     }
}
.summary {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
}
.layout-project,
.layout-resume {
    .main-content {
        float: left;
        width: 60%;
    }
    .relative-content {
        float: right;
        margin: $grid-5 0 0 0;
        width: 30%;
        position: relative;
        padding: 1rem;
        border-top:8px solid #EF6461;
        h3, h4{
            font-family: $font-sub-header;
            margin: $grid-2 0 0 0;
            font-weight: 700;
            display:inline-block;
        }
        h4 {
            margin-top: $grid-5;
            font-weight: 400;
        }
    }

    @media (max-width: 900px) {
        .main-content {
            float: none;
            width: auto;
        }
        .relative-content {
            float: none;
            width: auto;
        }
    }
}
