@import url('https://fonts.googleapis.com/css?family=Lato:700|Oswald|Prompt');


$topnav-bg: #1290a5;
$footer-bg: #333;
$subheader-bg: #cdecff;
$darker-blue: #0072bb;

$color-lightgrey: #efefef;
$color-trueblack: #000;
$color-white: #fff;

$text-light: #fff;
$text-muted: #999;
$text-medium: #666;
$text-dark: #333;
$font-main-header: 'Oswald', sans-serif;
$font-sub-header: 'Lato', sans-serif;
$font-content: 'avenir next', sans-serif;

$grid-0: .25rem;
$grid-1: .5rem;
$grid-2: 1rem;
$grid-3: 1.5rem;
$grid-4: 2rem;
$grid-5: 3rem;
$grid-6: 4rem;

$character-width: 75ch;
$line-height-normal: 1.3rem;

html {
    font-family: $font-content;
    font-size: 1.1rem;
    font-weight: 400;
}
.readability {
    max-width: $character-width;
}
h1 a, h1 a:visited {
  text-decoration: none;
  color:$text-dark;
}
body {
    color: $text-dark;
}
.home  {
    img  {
        margin-bottom: 1rem;
    }
}
strong {
    font-weight: bold;
}
footer {
    background: $footer-bg;
    clear: both;
    color: $text-light;
    padding: $grid-4 0 $grid-2;
    text-align: center;

    .social-links {
        list-style-type: none;
        margin: 0;
        li {
            display: inline-block;
            margin: 0 $grid-1;
            a {
              color: #c8c8c8;
            }
        }
    }
    .copyright {
        font-size: 1rem;
        padding: 2rem 0 0;
        color: #c8c8c8;
    }

}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-main-header;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: $grid-2;
}

ol,
p,
ul {
    line-height: 1.5rem;
    margin-bottom: $grid-2;
}
h1 {
    font-size: 3rem;
    line-height: 3rem;
}
h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
}
h3 {
    font-size: 2rem;
    line-height: 2rem;
}
h4 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}
h5 {
    font-size: 1.25rem;
    line-height: 1.25rem;
}
ul {
    list-style-type: disc;
    margin-left: $grid-4;
}
li {
    margin-bottom: $grid-1;
}

a,
a:active {
    color: $darker-blue;
    text-decoration-skip: ink;
}
a:visited {
    color: $darker-blue;
}
.list-unstyled {
    list-style: none;
}
.list-inline {
    margin: 0;
    li {
       display: inline-block;
        margin: initial;
        &::after {
            content:','
        }
    }
    li:last-child::after  {
        content: '';
    }
}



// body {
//     background-image:    url(../../assets/images/scott-home.jpeg);
//     background-size:     cover;                      /* <------ */
//     background-repeat:   no-repeat;
//     background-position: center center;
// }

.page-header {
    padding-top: 1rem;
}
.page-title {
  font-family:$font-sub-header;
  font-size: 2rem;
  font-weight: bold;
    @media (max-width: 600px) {
        font-size: 2rem;
    }
}
.page-subheader {
    background: $subheader-bg;
    padding: 2rem;
    .page-subtitle {
        margin: 0 auto;
        max-width: 1040px;
    }
}
.lead {
    font-family: $font-sub-header;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 4rem;
}
.home-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    //p:nth-child(1) {border-top:8px solid #5da512}
    //p:nth-child(2) {border-top:8px solid #a54412}
    //p:nth-child(3) {border-top:8px solid #a51291}
    .home-item {
        flex: 0 0 30%;
        // font-family: avenir next,avenir,sans-serif;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.7rem;
        padding-top: 1rem;
        img {
            max-width: 100%;
        }
    }
    @media (max-width: 600px) {
        .home-item {
            flex: 0 0 100%;
        }
    }
}
.projects {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    margin: 0;
    padding: 0;
    .project-item {
      max-width: 287px;
      border: 3px solid $color-lightgrey;
        margin: 0 $grid-5 $grid-5 0;
        a {
          text-decoration: none;
          display: block;
          height: 100%;
        }
        a:hover {
          background-color: #f9f9f9;
            .project-name {
                color: #0072bb;
            }
        }
        .project-name {
            display: block;
            font-family: $font-sub-header;
            font-size: 1.1rem;
            font-weight: bold;
            margin-bottom: $grid-2;
            text-decoration: none;
            line-height: inherit;
            margin-left: -.5rem;
            margin-right: -.5rem;
            padding: 0 .5rem .5rem;
            box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.15);
            background: $color-white;
            color: #333;
        }
        .project-description {
          text-decoration: none;
          color: initial;
          font-size: .9rem;
          line-height: 1.4rem;
        }
    }
    @media (max-width: 600px) {
        .project-item {
            flex: 0 0 100%;
        }
    }


    img {
        max-width: 100%;
    }
    .project-responsibilities {
        display: block;
        line-height: 1.3rem;
    }
}
.card-header {
  background-color: $color-white;
}
.card-content {
  padding: 0 .5rem .5rem;
  :last-child {
    margin-bottom: 0;
  }
}
.top-nav {
    ul {
        margin: 2rem 0 0 ;
    }
    li {
        display: inline-block;
        margin: 0 $grid-1;
        padding: 0;

        &:first-of-type {
          margin-left:-.25rem;
        }
    }
    a {
        display: inline-block;
        margin-left: 0;
        padding: $grid-1 $grid-0;
        text-decoration: none;
        &:hover {
            //background: $footer-bg;
        }
    }
}
.content-container {
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 1040px;
}
.main-content {
    margin: $grid-4 0;
}
.layout-project,
.layout-resume {
    .main-content {
        float: left;
        width: 60%;
    }
    .relative-content {
        background-color: #e1f3f8;
        float: right;
        margin: $grid-6 0;
        width: 30%;
        position: relative;
        padding: 1rem;
    }
    // .relative-content::after {
    //     content: '';
    //     content: '';
    //     border-left: 100px solid transparent;
    //     border-right: 210px solid transparent;
    //     border-top: 80px solid #e1f3f8;
    //     position: absolute;
    // }
    @media (max-width: 900px) {
        .main-content {
            float: none;
            width: auto;
        }
        .relative-content {
            float: none;
            width: auto;
        }
    }
}
