@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
$color-accent2: #cdecff;
$color-accent3: #0072bb;
$color-accent4: #A9C6E5;
$color-accent: #EF6461;
$color-lightergrey: #efefef;
$color-lightgrey: #737373;
$color-mediumgrey: #666;
$color-darkgrey: #333;
$color-trueblack: #000;
$color-white: #fff;
$color-dark: #37323E;
$color-bright: #FCF6B1;
$color-featured: #beb6d3;

$topnav-bg: $color-accent4;
$footer-bg: $color-dark;
$subheader-bg: $color-accent2;
$darker-blue: $color-accent3;

$text-light: $color-white;
$text-muted: $color-lightgrey;
$text-medium: $color-mediumgrey;
$text-dark: $color-darkgrey;
$font-main-header: "Fira Sans", sans-serif;
$font-sub-header: "Fira Sans", sans-serif;
$font-content: "Roboto Serif", sans-serif;

$site-max-width: 1280px;

$spacer-0: .25rem;
$spacer-1: .5rem;
$spacer-2: 1.25rem;
$spacer-3: 1.5rem;
$spacer-4: 1.75rem;
$spacer-5: 2.25rem;
$spacer-6: 3rem;
$spacer-7: 3.5rem;
$spacer-8: 4rem;
$spacer-9: 5rem;
$spacer-10: 8rem;

$character-width: 60ch;
$line-height-normal: 1.3rem;


html {
    font-family: $font-content;
    font-size: 1.1rem;
    font-weight: 200;
}

.timeframe {
    display: inline-block;
    font-weight: 200;
    font-size: $spacer-2;
}

.bkg-green-quarternary {
    background-color: #cef6d2;
}
.bkg-light-yellow {
    background-color: #f6f3ce;
}
.bkg-light-coral {
    background-color: #f6cfce;
}
.hero {
    background-color: $color-dark;
    max-width: none;
    color: $color-lightergrey;

    .content-container>.super-heading {
        border: none;
    }
    .section-title {
        margin-top:$spacer-1;
    }

}

.selected-work,
.selected-articles {
    background-color: $color-accent2;

}

.music-section {
    background-color: $color-featured;
   a, a:visited { 
    color: $color-dark;
   }
}

.content-container {
    padding: $spacer-8 $spacer-2;
    margin: 0 auto;
    max-width: $site-max-width;

    p, li {
        max-width: $character-width;
    }

    & :first-child {
        margin-top:0 !important;
    }

    .super-heading {
        max-width: $site-max-width;
        font-family: $font-main-header;
        font-weight: 700;
        font-size: $spacer-10;
        line-height: 1;
        margin-bottom: $spacer-6;
        border-bottom: $spacer-4 solid $color-bright;
        display: inline-block;

        @media (max-width: 900px) {
          font-size: $spacer-7 ;
          margin-bottom: $spacer-3;
    
        }
    
        @media (max-width: 600px) {
            font-size: $spacer-5 ;
            margin-bottom: $spacer-1;
    
        }
    }

    .lead {
        font-size: $spacer-9;
        font-weight: 800;
        line-height: 1.05;
        letter-spacing: 0px;
        margin-bottom: $spacer-6;

        @media (max-width: 900px) {
            font-size: $spacer-5 ;
            line-height: 1.15;
            margin-bottom: $spacer-3;
      
          }
      
          @media (max-width: 600px) {
              font-size: $spacer-3 ;
              margin-bottom: $spacer-1;
      
          }
    }

    .section-title {
        font-size: $spacer-6;
        font-family:$font-main-header;
        font-weight: 500;
        line-height: 1.15;
        margin-bottom: $spacer-1;
        letter-spacing: -2px;
        display: block;

        @media (max-width: 900px) {
            font-size: $spacer-5 ;
            margin-bottom: $spacer-4;
      
          }
      
          @media (max-width: 600px) {
              font-size: $spacer-3 ;
              margin-bottom: $spacer-1;
      
          }
    }

    ul>li {
        margin-bottom: $spacer-4;
    }
}

h1 a,
h1 a:visited {
    text-decoration: none;
    color: $text-dark;
}

body {
    color: $text-dark;
    font-family: $font-content;
    font-weight: 100;
}

strong {
    font-weight: bold;
}

footer {
    background: $footer-bg;
    clear: both;
    color: $text-light;

    a,
    a:visited {

        color: $text-light;

    }
}

.layout-project footer .content-container {
    display: block;
}

.copyright {
    font-size: 1rem;
    margin: 0;
    color: $text-light;
    max-width: 100% !important;
    color: $color-bright;
    display: block;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-main-header;
    font-weight: 700;
}

.footer-social {
    margin-left: 0;
    margin-bottom: $spacer-3;
    list-style: none;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

ol,
p,
ul {
    line-height: $spacer-5;
    margin-bottom: $spacer-3;
    font-size: $spacer-3;
    font-weight: 300;

    @media (max-width: 900px) {
        font-size: $spacer-3 ;
        line-height: 1.15;
        margin-bottom: $spacer-3;
  
      }
  
      @media (max-width: 600px) {
          font-size: $spacer-2 ;
          line-height: $spacer-4;
          margin-bottom: $spacer-1;
  
      }

}

h1 {
    font-size: 3rem;
    line-height: 3rem;
}

h2 {
    font-size: $spacer-6;
    line-height: $spacer-6;
    font-weight: 600;
    margin-bottom: $spacer-3;
}

h3 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: $spacer-3;
}

h4 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

h5 {
    font-size: 1.25rem;
    line-height: 1.25rem;
}

ul {
    list-style-type: disc;
    margin-left: $spacer-4;
}

a,
a:active {
    color: $darker-blue;

    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

a:visited {
    color: $darker-blue;
}

.list-unstyled {
    list-style: none;
    margin-left: 0;
}

.list-inline {
    margin-left: 0;

    li {
        display: inline-block;
        margin: initial;

        &::after {
            content: ','
        }
    }

    li:last-child::after {
        content: '';
    }
}

.tag {
    background-color: $color-bright;
    display: inline-block;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    margin-bottom: $spacer-3 !important;
    font-size: $spacer-4;
    font-weight: 300;
}

.featured-projects {
    background-color: $color-white;
    padding: 1rem 0 0;
    margin-bottom: 1rem;
}

.page-header {
    background: $color-dark;
    border-bottom: 3px solid $text-dark;
    position: sticky;
    top: 0;

    & a {
        color: $text-dark;
    }

    >div {
        padding: $spacer-1 $spacer-0;
    }
}

.page-title {
    font-family: $font-main-header;
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: $spacer-5;
    line-height: 3.75rem;

    @media (max-width: 600px) {
        font-size: 2rem;
    }
}

.page-subheader {
    background: $subheader-bg;
    padding: 2rem;

    .page-subtitle {
        margin: 0 auto;
        max-width: $site-max-width;
    }
}

.outcome {
    font-family: $font-sub-header;
    max-width: $character-width;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.projects {

    flex-wrap: wrap;
    list-style: none;
    margin: $spacer-4 0;
    padding: 0;

    .project-item {
        background-color: $color-white;



        a {
            border: 3px solid $color-lightergrey;
            text-decoration: none;
            display: block;
            height: 100%;
        }

        a:hover {
            background-color: rgba($color-accent, .1);
            border: 3px solid $color-accent;

            .project-name {
                color: $color-accent3;
            }
        }

        * p {
            color: $text-dark;
        }

        .project-name {
            display: block;
            font-family: $font-sub-header;
            font-size: 1.1rem;
            font-weight: bold;
            margin-bottom: $spacer-2;
            text-decoration: underline;
            margin-left: -.5rem;
            margin-right: -.5rem;
            padding: 0 .5rem .5rem;
            text-underline-offset: 3px;
            text-decoration-thickness: 2px;
            line-height: inherit;
        }

       
       
    }

    @media (max-width: 600px) {
        .project-item {
            flex: 0 0 100%;
        }
    }

    .project-responsibilities {
        display: block;
        line-height: 1.3rem;
    }
}

.additional-work {
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: $spacer-6;
        row-gap: $spacer-1;

        .project-item-container {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 3fr;
            align-items: center;
            text-decoration: none;

            .card-header {
                box-shadow: none;
            }

            .project-name {
                text-decoration: none;
                margin: 0;
                padding: 0;
            }
        }
        @media (max-width: 900px) {
            grid-template-columns: 2fr 2fr;
            row-gap: 0;
    
        }
    
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
    
        }
    }
}

.card-header {
    background-color: $color-white;
    box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.15);
}

.card-content {
    padding: 0 .5rem .5rem;

    :last-child {
        margin-bottom: 0;
    }
}

.top-nav {
    ul {
        margin: 0;
    }

    ul>li {
        display: inline-block;
        margin: 0;
        padding: 0;

        &:first-of-type {
            margin-left: $spacer-0;
        }
    }

    a {
        display: inline-block;
        margin-left: 0;
        padding: $spacer-0 $spacer-1;
        text-decoration: none;
        color: #A9C6E5;
        border-radius: 4px;

        &:hover {
            background-color: $color-white;
            color: $color-dark;

        }

        &.homelink {
            color: $color-white;
            font-weight: bold;

            text-decoration: none;
            position: relative;

            &:hover {
                background: $color-bright;
                color: $color-dark;
            }
        }

    }
}

.highlighter-rouge, code{
    background-color: rgb(232, 232, 232);
}


code {
    font-family: monospace;
    font-size: inherit;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.5;
}
pre>code{
    padding:$spacer-2;
    display: inline-block;
}
pre {
    margin-bottom:$spacer-4;
}

.table {
    border: 1px solid;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: .9rem;
    caption {
        padding: $spacer-1;
        font-size: $spacer-2;
        font-weight: 600;
    }
    th, td {
        border: 1px solid $color-lightgrey;
        padding: $spacer-1;
        font-weight: 400;
    }
    th {
        background-color: $color-lightergrey;
        font-weight: 600;
    }
    margin-bottom: $spacer-6;
}

.readability>* {

    max-width: $character-width;

}

.main-content {
    margin: 0 0 $spacer-4 0;

    img {
        max-width: 90%;
        margin-bottom: $spacer-5;
    }

    figure {
      

        img {
            margin: 0;
        }
    }

    h3 {
        margin-top: $spacer-5;
    }
}

.summary {
    font-size: 2rem;
    font-weight: 100;
    line-height: 2.5rem;
    margin-top: 0;
}



.layout-project, .layout-article {

    .content-container {
        display: grid;

        @media (min-width: 900px) {
            grid-template-columns: 4fr 2fr;
            gap: $spacer-6;
        }
    }

    .relative-content {
        position: relative;
        p {
            font-size: $spacer-2;
            line-height: $spacer-5;
        }
        h2 {
            font-size: $spacer-3;
            margin-bottom: $spacer-1;
        }
        h3 {
            font-family: $font-main-header;
            margin: $spacer-2 0 0 0;
            font-weight: 700;
            display: inline-block;
        }

        h4 {
            font-family: $font-sub-header;
            margin-top: $spacer-5;
            font-weight: 100;
        }
    }

    @media (max-width: 900px) {
        .main-content {
            float: none;
            width: auto;
        }

        .relative-content {
            float: none;
            width: auto;
        }
    }

    .project-role {
        border-bottom: 4px solid $color-accent;
    }
    .project-responsibilities {
        border-bottom: 2px solid $color-accent;
    }
}

.layout-article {
    .content-container {
        margin: 0 auto;
        max-width: 900px;
        grid-template-columns: auto;
        gap: 0;
    }
    .page-header .content-container {
        margin: 0 auto;
        max-width: 1280px;
    }

    .hero {
        background-color: $color-white;
        color: inherit;
        text-align: center;

        .content-container {
            padding-bottom: 0;
            max-width: none;
            text-align: center;
            p  {
                max-width: none;
             }
        }

        .lead {
            margin-top: $spacer-10 !important;
            margin-bottom: 0;
        }
    }

}



.linkforest {
    background-color: $color-lightergrey;
    color: $text-dark;
    margin: 0 auto;
    height: 100vh;
    padding: 10px;

    .links-header {
        display: grid;
        gap: $spacer-4;
        align-items: center;
        margin-bottom: $spacer-2;


        .left {

            grid-column: 2 / 2;
            grid-row: 1;
        }

        .right {
            text-align: left;
            grid-column: 1 / 2;
            grid-row: 1;
            margin-top: $spacer-2;
        }
        .profile {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-top: 1rem;
        }
    }

    .links-content-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    h1 {
        font-size: $spacer-4;
        margin-bottom: 0;
    }
    .lead {
        font-size: $spacer-2;
        line-height: $spacer-3;
        margin-bottom: $spacer-3;
    }
    h2 {
        font-size: $spacer-3;
        margin-bottom: .5rem;
        line-height: 1.5rem;
        font-weight: 700;
        margin-bottom: $spacer-3;
    }

    h3 {
        font-size: 1rem;
        margin-bottom: 0;
        line-height: 2rem;
        font-weight: normal;
        margin-top: 0;
    }

    hr {
        border-color: $footer-bg;
    }

    .page-header,
    .page-title {
        display: none;
    }


    .page-title {
        margin-top: 0rem;
        font-size: 2rem;
    }

    .links-content-container a {
        border: 2px solid;
        padding: .25rem .5rem;
        color: $color-trueblack;
        display: inline-block;
        text-decoration: none;
        border-radius: 10px 3px;
        line-height: normal;

    }

    .featured {
        background-color: $color-featured;
        border-radius: 10px;
        padding: $spacer-2;
        margin-bottom: $spacer-2;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      
        ul {
           margin-top:$spacer-3;
            margin-bottom: 0;
          
        }
        a {
            background-color: $color-white;
        }
    }

    ul {
        list-style: none;
        margin-bottom: $spacer-3; 
        margin-left: 0;

        li {
            margin-bottom: .5rem;
            display: inline-block;
        }
    }

    footer {
        margin: 0;
        display: none;
        height: 0;
    }

    .copyright {
        padding: 0;
    }

}