---
layout: default
title: My work
permalink: /work/
pageClass: work
---
<div class="featured-projects"> 
  <div class="content-container">
    <h2>Selected work</h2>
    <ul class="projects">
      {% assign featureSorted = site.featuredwork | sort: 'startYear' | reverse %}
      {% for work in featureSorted %}
      <li class="project-item">
        <a href="{{ work.url | permalink }}">
          <div class="card-header">
            <img src="/assets/images/projects/{{ work.smallImage }}" alt="{{ work.title }} logo" />
          </div>
          <div class="card-content">
            <h3 class="project-name">{{ work.title }}</h3>
            <p><strong>{{work.who}}</strong></p>
            <p class="project-description">{{work.role}}</p>
            <p class="project-description">{% if work.startYear %}{{work.startYear}}{% endif %}{% if work.endYear %} -
              {{work.endYear}}{% endif %}</p>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
    <h2>Selected articles</h2>
    <ul class="projects">
      {% for article in site.articles %}
      <li class="project-item">
        <a href="{{ article.link}}">
          <div class="card-header">
            <img src="/assets/images/articles/{{ article.image }}" alt="{{ article.title }} logo" />
          </div>
          <div class="card-content">
            <h3 class="project-name">{{ article.title }}</h3>
            <p class="project-description">{{ article.summary }}</p>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="content-container additional-work">
  <h2>Additional work</h2>
  <ul class="projects">
    {% assign sorted = site.work | sort: 'startYear' | reverse %}
    {% for work in sorted %}
    <li class="project-item">
      {% if work.link %}<a href="{{ work.link | permalink }}">{% endif %}
        <div class="project-item-container">
        <div class="card-header">
          <img src="/assets/images/projects/{{ work.smallImage }}" alt="{{ work.title }} logo" />
        </div>
        <div class="card-content">
          <h3 class="project-name">{{ work.title }}</h3>
          
          <p class="project-description">{% if work.startYear %}{{work.startYear}}{% endif %}{% if work.endYear %} -
          {{work.endYear}}{% endif %}</p>
        </div>
      </div>
        {% if work.link %}</a>{% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
