<!DOCTYPE HTML>
<html lang="en" class="layout-default {{ page.pageClass }}">
{% include head.html %}

<body class="layout-default {{ page.pageClass }}">
    
        {% include top-nav.html %}
        <div class="content-container">
        <h1 class="page-title">{{ page.title }}</h1>
    </div>
    {{ content }}
    {% include footer.html %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/minicart/3.0.6/minicart.min.js"></script>
    <script>
        paypal.minicart.render();
    </script>
</body>

</html>