<!DOCTYPE HTML>
<html lang="en">
    {% include head.html %}

    <body class="layout-default {{ page.pageClass }}">
        <div class="content-container">
          <header class="page-header" role="banner">
            <h1><a href="/">Scott Weber</a></h1>
              {% include top-nav.html %}
          </header>
            <div class="main-content">
              <h2 class="page-title">{{ page.title }}</h2>
              {{ content }}
            </div>
        </div>
        {% include footer.html %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/minicart/3.0.6/minicart.min.js"></script>
        <script>
            paypal.minicart.render();
        </script>
    </body>

</html>
