<!DOCTYPE HTML>
<html lang="en">
{% include head.html %}

<body class="layout-default {{ page.pageClass }}">
    {% include top-nav.html %}
    <div class="scott-bg hero">
        <div class="content-container readability">
            <p>I'm a <span>design system leader</span>, <span>UX manager</span>, & <span>front-end specialist</span> based in Asheville, NC.</p>
        </div>
    </div>
        {{ content }}
    
    
    {% include footer.html %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/minicart/3.0.6/minicart.min.js"></script>
    <script>
        paypal.minicart.render();
    </script>
</body>

</html>