<!DOCTYPE HTML>
<html lang="en" class="layout-default {{ page.pageClass }}">

<head>
    {% include head.html %}
</head>

<body>
    {% include top-nav.html %}
    <div class="hero">
        <div class="content-container">
            <h1 class="lead">{{page.title}}</h1>
            <h2 class="section-title">Design leader, architecting scalable design systems with accessibility and front-end expertise</h2>
            <img class="img-ani" src="/assets/images/sw-home-2025.png" />
        </div>
    </div>
    {{ content }}
    {% include footer.html %}
</body>

</html>