<!DOCTYPE HTML>
<html lang="en">
{% include head.html %}

<body class="layout-project">
 
    {% include top-nav.html %}
 
  <div class="content-container">
    <div class="main-content">
      <h1 class="page-title">{{ page.project }}</h1>
      <p class="summary">{{page.who}}</p>
      <span class="timeframe">{% if page.startYear %}{{page.startYear}}{% endif %}{% if page.endYear %} - {{page.endYear}}{% endif %}</span>
      <h2>Outcome</h2>  
      <p class="outcome">{{ page.summary }}</p>
      {% if page.largeImage %}
      <img src="/assets/images/projects/{{ page.largeImage }}"
        style="max-width:100%; box-shadow:0px 3px 5px 0px rgba(0,0,0, .25); margin-bottom:1rem; border: 1px solid rgba(239, 239, 239, 0.68);" />
      {% endif %} 
      {% if page.challenge %}
        <h2>Challenge</h2> 
        <p>{{ page.challenge }}</p>
      {% endif %} 
      {{ content }}
    </div>
  
    <div class="relative-content">    
      <h3>My role</h3>
     <p>{{ page.role }}</p>
      {% if page.builtWith %}
      <h3>Responsibilities</h3>
      <ul>
        {% assign sorted = page.responsibilities | sort %}
        {% for item in sorted %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
      <h3>Tools and software used </h3>
      <ul class="list-built-width">
        {% assign sorted = page.builtWith | sort %}
        {% for item in sorted %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
        {% if page.link %}
          <p><a href="{{ page.link }}" title="Visit the {{page.title}} website">Visit {{ page.title | downcase }} website</a></p>
        {% endif %}
      {% endif %}
      

    </div>
  </div>

  {% include footer.html %}
</body>

</html>