<!DOCTYPE HTML>
<html lang="en">
{% include head.html %}

<body class="layout-project">
 
    {% include top-nav.html %}
 
  <div class="content-container">
    <div class="main-content">
      <h1 class="page-title">{{ page.title }}</h1>
      <span class="timeframe">{% if page.startYear %}{{page.startYear}}{% endif %}{% if page.endYear %} - {{page.endYear}}{% endif %}</span>
        <p class="summary">{{ page.summary }}</p>
      {% if page.largeImage %}
      <img src="/assets/images/projects/{{ page.largeImage }}"
        style="max-width:100%; box-shadow:0px 3px 5px 0px rgba(0,0,0, .25); margin-bottom:1rem; border: 1px solid rgba(239, 239, 239, 0.68);" />
      {% endif %} 
      <h3>Challenge</h3> 
      <p>{{ page.challenge }}</p>

      {{ content }}
    </div>
  
    <div class="relative-content">    
      <h3>{{ page.role }} </h3>
     
      {% if page.builtWith %}
      <h4>Responsibilities</h4>
      <ul>
        {% assign sorted = page.responsibilities | sort %}
        {% for item in sorted %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
      <h4>This project was built with</h4>
      <ul class="list-unstyled list-inline list-built-width">
        {% assign sorted = page.builtWith | sort %}
        {% for item in sorted %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
      <p><a href="{{ page.link }}" title="Visit the {{page.title}} website">Visit {{ page.title | downcase }} website</a></p>
      {% endif %}
      

    </div>
  </div>

  {% include footer.html %}
</body>

</html>